19-SOAP/src/wsdl/ItemSoapService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/cdbookstore/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://localhost:8080/cdbookstore/" name="ItemSoapService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://localhost:8080/cdbookstore/" schemaLocation="ItemSoapService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="GenerateNumber">
    <part name="parameters" element="tns:GenerateNumber"/>
  </message>
  <message name="GenerateNumberResponse">
    <part name="parameters" element="tns:GenerateNumberResponse"/>
  </message>
  <message name="CreateBook">
    <part name="parameters" element="tns:CreateBook"/>
  </message>
  <message name="CreateBookResponse">
    <part name="parameters" element="tns:CreateBookResponse"/>
  </message>
  <message name="FindBook">
    <part name="parameters" element="tns:FindBook"/>
  </message>
  <message name="FindBookResponse">
    <part name="parameters" element="tns:FindBookResponse"/>
  </message>
  <message name="RemoveBook">
    <part name="parameters" element="tns:RemoveBook"/>
  </message>
  <message name="FindAllBooks">
    <part name="parameters" element="tns:FindAllBooks"/>
  </message>
  <message name="FindAllBooksResponse">
    <part name="parameters" element="tns:FindAllBooksResponse"/>
  </message>
  <portType name="ItemSoap">
    <operation name="GenerateNumber">
      <input wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/GenerateNumberRequest" message="tns:GenerateNumber"/>
      <output wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/GenerateNumberResponse" message="tns:GenerateNumberResponse"/>
    </operation>
    <operation name="CreateBook">
      <input wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/CreateBookRequest" message="tns:CreateBook"/>
      <output wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/CreateBookResponse" message="tns:CreateBookResponse"/>
    </operation>
    <operation name="FindBook">
      <input wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/FindBookRequest" message="tns:FindBook"/>
      <output wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/FindBookResponse" message="tns:FindBookResponse"/>
    </operation>
    <operation name="RemoveBook">
      <input wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/RemoveBook" message="tns:RemoveBook"/>
    </operation>
    <operation name="FindAllBooks">
      <input wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/FindAllBooksRequest" message="tns:FindAllBooks"/>
      <output wsam:Action="http://localhost:8080/cdbookstore/ItemSoap/FindAllBooksResponse" message="tns:FindAllBooksResponse"/>
    </operation>
  </portType>
  <binding name="ItemSoapPortBinding" type="tns:ItemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GenerateNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CreateBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="FindBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RemoveBook">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="FindAllBooks">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ItemSoapService">
    <port name="ItemSoapPort" binding="tns:ItemSoapPortBinding">
      <soap:address location="http://localhost:8080/cdbookstore/ItemService"/>
    </port>
  </service>
</definitions>

